footer {
    background-color: #1114c2;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    position: relative;
    margin-top: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-text {
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
}

.uade-logo {
    max-width: 100px;
    filter: brightness(0) invert(1);
}
