/* Estilos para el navbar */
header {
    background-color: #1114c2;
    padding: 20px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
}

header ul li a:hover {
    text-decoration: underline;
}

header img {
    max-width: 75px;
    height: auto;
    vertical-align: middle;
    margin-right: 20px;
}
